<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCj_dQmiKvIOwtnImnGvO_kBNHMLnCQs1w</string>
	<key>GCM_SENDER_ID</key>
	<string>43454808872</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.uac.WeGym</string>
	<key>PROJECT_ID</key>
	<string>wegym-cb0fc</string>
	<key>STORAGE_BUCKET</key>
	<string>wegym-cb0fc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:43454808872:ios:2c7a3714ad8ffa8540061d</string>
</dict>
</plist>